@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Paytone+One&display=swap');

body{
    font-family: Lato;   
    justify-content: center;
}

.container{
    flex-direction: column;
    width: 1250px;
    height: 1394px;
    padding: 92px 135px;
    background: #FAFAFA;
    gap: 71px;
    
}

.perfil{
    justify-content:space-between ;
}

.dados-perfil{
    width: 369px;
    height: 344px;
    flex-direction: column;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.10);
    justify-content: center;
    align-items: center; 
    padding: 0px 0px 16px 0px; 
    margin-top:10px;
}

.dados{
    margin-right: ; 
}



.bio{
    width: 769px;
    height: 340px;
    padding: 16px ;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10); 
    flex-direction: column;
}

.projetos h2{
    border-bottom: 1px solid #DEE2E6;
    padding-bottom: 16px;
}

.cards{
    flex-wrap: wrap;
}

.card{
    width: 270px;
    min-height: 284px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);
}
