body{
    display: flex;
    
    
}

.container{
    width: 1440px;
    height: 1394px;
    display: flex;
    justify-content: center;
    background-color: #dbdbdbf1;
}

.perfil{
    display: flex;
}



