@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;

}
header{
    background: linear-gradient(265deg, #203C86 46.03%, #203C86 53.97%);
    width: 100%;
    justify-content: center;
}

.midias{
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.redes-sociais{
    justify-content: flex-end;
    gap: 20px;
    color: white;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 300;
}

.linha{
    height: 1px;
    opacity: 0.2;
    background: #FFF;
    margin-bottom: 12px;
    width: 100%;
}
.menu{
    justify-content: space-between;
    font-family: Montserrat;
}

.menu nav a:link{
    text-decoration: none;
    color:#EFF2F7;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.menu nav a:hover{
    border-bottom: solid 3px #ffc82c;
}
nav {
    gap: 43px;

}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


