@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header{
    background: linear-gradient(265deg, #203C86 46.03%, #203C86 53.97%);
    width: 100%;
    justify-content: center;
}

.midias{
    flex-direction: column;
    width: 100%;
}

.redes-sociais{
    justify-content: flex-end;
    gap: 20px;
    color: white;
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 300;
}

.linha{
    height: 1px;
    opacity: 0.2;
    background: #FFF;
    margin-bottom: 12px;
    width: 100%;
}
.menu{
    justify-content: space-between;
    font-family: Montserrat;
}

.menu nav a:link{
    text-decoration: none;
    color:#EFF2F7;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

.menu nav a:hover{
    border-bottom: solid 3px #ffc82c;
}
nav {
    gap: 43px;

}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main h1{
    color: #000;
    font-family: Montserrat;
    font-size: 38px;
    font-weight: 700;
    margin-top: 100px;
}

.apresentacao1{
    flex-direction: column;
    
}

.comentario {
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
}

.nossa{
    color: var(--ui-color-primary, #2648A1);
    font-family: Montserrat;
    font-size: 21px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

.comentario small{
    color: #4D535B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.descriçao{
    color: var(--Prata, #3C4858);
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    margin: 50px 0 0 0;
}

.logo2{
    margin: 0;
    margin-top: 15px;
}

.sub-titulo{
    margin-top: 70px;
    color: var(--ui-color-primary, #2648A1);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.sub-titulo h2{
    margin: 0;
    border-bottom: #ffc82c 3px solid;
}

.descriçao2{
    color: var(--Prata, #3C4858);
    max-width: 485px;
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    margin-top: 30px;
}

.conteudo-imagem{
    
}

.artigo{
    flex-wrap: wrap;
}


