.flex{
    display: flex;
}

.container{
    max-width: 1200px;   
    width: 100%;
}
.container2{
    max-width: 785px;
    margin: 0 auto;
    
}

.container3{
    max-width: 985px;

}

.container4{
    max-width: 800px;
}
