.flex{
    display: flex;
}

.container{
    max-width: 1200px;   
    width: 100%;
    
}
.container2{
    max-width: 785px;
    margin: 0 auto;
}


.container4{
    max-width: 800px;
}

.column{
    flex-direction: column;
}

.gap{
    gap: 14px;
}