@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

flex{
    display: flex;
}

header{
    display: flex;
    background: #C11616;
    box-shadow: 0px 1px 4px 0px #0000001a;
}